* {
    margin: 0px;
    padding: 0px;
}

header,
section,
footer,
aside,
nav,
article {
    display: block;
}

#contenedor {
    width: 80%;
    margin: auto auto;
    text-align: center;
}

#cabecera {
    margin: 5px;
    height: 200px;
    text-align: center;
    border: 2px solid;
}

#menu {
    padding: 5px 15px;
}

#menu li {
    display: inline-block;
    padding: 5px;
    font: bold 14px verdana, sans-serif;
}

#izquierda {
    float: left;
    width: 70%;
    margin: 5px;
}

#derecha {
    float: right;
    width: 25%;
    margin-left: 5px;
    margin-bottom: 5px;
}

#pie {
    clear: both;
    text-align: center;
    border: 2px solid;
    background: #CCCCCC;
}